nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: white;
  background-color: black;
  height: 60px;
  font-size: 1.3rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

li{
  list-style-type: none;
}

a{
  text-decoration: underline;
  color: blue;
}





/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  height: 400px;
  width: 100%;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  text-align: center;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: 150px;
  text-align: center;
}


/* imgmagrifire starts */

.imgmagrifire{
  width: 50%;
  height: 60vh;
}

/* imgmagrifire ends */

/* fetchcomp starts */

.fetchcomp .form input{
  border: 2px solid black;
}

.fetchcomp button{
  border: 2px solid black;
  padding: 10px;
}




/* fetchcomp ends */